{% extends 'base.html' %}
{% block title %}Mindstorage.io{% endblock title %}
{% block content %}
<div class="position-relative">
    <div class="text-center pt-5">
        <h1>Mindstorage.io</h1>
    </div>
    <div style="display:flex; justify-content: space-evenly;" class="pt-5">
        <div>
            <h3>Why we best</h3>
            <ul>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
            </ul>
        </div>
        <div>
            <h3>Features</h3>
            <ul>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}